include ../helper/mixins

mixin linkListNav(elements=app.nav.elements, className='')
    ul.nav(class=`${className}`)
        include ../helper/setup
            li.nav-item
                +link(item, activeClass, activePathClass)
