include ../helper/mixins

mixin linkListNav(elements=app.nav.elements, className='')
    ul.nav.nav--list(class=`${className}`)
        include ../helper/setup
            li.nav__item
                +link(item, activeClass, activePathClass)
