each item, index in elements || app.nav.elements
  - const isActive = item.href === meta.fullPath
  - const activeClass = isActive ? app.nav.activeClass : ''
  - const isNotHome = meta.dirname !== '/'
  - const isParent = isNotHome && item.href.indexOf(meta.dirname) === 0
  - const activePathClass = !isActive && isParent ? app.nav.activePathClass : ''
